body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.testorange-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.testorange-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.testorange-button {
  position: absolute;
  right: 15%;
  bottom: -20px;
  z-index: 3;
  background: orange !important;
  color: white !important;
}

.testorange-mobile-title {
  display: none !important;
}


.testorange-logo-image {
  height: 28px;
  width: 240px;
}


.testorange-header {
  overflow: visible;
  background-color: lightskyblue;
}

  .testorange-header .material-icons {
    color: whitesmoke!important;
  }

  .testorange-header .mdl-layout__drawer-button {
    background: transparent;
    color: whitesmoke;
  }

  .testorange-header .mdl-navigation__link {
    color: whitesmoke;
    font-weight: 700;
    font-size: 14px;
  }

  .testorange-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .testorange-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .testorange-search-box.is-focused + .testorange-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .testorange-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .testorange-navigation .mdl-navigation__link:hover {
      border-bottom: 2px solid darkorange;
    }

  .testorange-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .testorange-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.testorange-drawer {
  border-right: none;
}

  .testorange-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .testorange-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .testorange-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: darkorange;
  }

  .testorange-drawer .mdl-layout-title {
    position: relative;
    background: skyblue;
    height: 80px;
  }

    .testorange-drawer .testorange-logo-image {
      position: absolute;
      bottom: 16px;
    }

.testorange-hero-section {
  position: relative;
  height: 580px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/orange-cut.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: white;
  font-weight: 500;
}

.testorange-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.testorange-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.main-section {
  font-size: 21px;
  padding-top: 400px;
}

.testorange-flag-section {
  position: relative;
  padding-bottom: 20px;
}

.testorange-screens {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.testorange-screen {
  text-align: center;
}

.testorange-screen .testorange-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.testorange-image-link {
  text-decoration: none;
}

.testorange-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .testorange-wear .testorange-flag-image {
    width: 40%;
    z-index: 1;
  }


.testorange-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .testorange-phone .testorange-flag-image {
    width: 100%;
    z-index: 1;
  }


.testorange-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .testorange-tablet .testorange-flag-image {
    width: 100%;
    z-index: 1;
  }

  .testorange-tablet .testorange-link {
    display: block;
    z-index: 2;
  }


.testorange-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .testorange-tv .testorange-flag-image {
    width: 100%;
    z-index: 1;
  }


.testorange-flag {
  display: inline-block;
  width: 380px;
}

  .testorange-flag .testorange-flag-image {
    display: block;
    height: 300px;
    z-index: 1;
  }


.testorange-main-target {
  position: relative;
  height: 180px;
}

.testorange-main-target-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #424242;
}

.testorange-main-target-box-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .testorange-main-target-box-text p {
    padding-top: 8px;
  }

.testorange-link {
  text-decoration: none;
  color: darkorange !important;
}

  .testorange-link:hover {
    color: orange!important;
  }

  .testorange-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.testorange-alt-link {
  text-decoration: none;
  color: orange !important;
  font-size: 16px;
}

  .testorange-alt-link:hover {
    color: orangered!important;
  }

  .testorange-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.testorange-map-section {
  text-align: center;
  position: relative;
  height: 620px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/orange-map.png') center 30% no-repeat;
  background-size: cover;
}

.testorange-map-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
    background-color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=60); 

}

.testorange-map-section-text p {
  font-weight: bold;
  color: #000000;
}

  .testorange-map-section-text p {
    padding-top: 16px;
  }

.testorange-map-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.testorange-fact-section {
  padding: 40px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .testorange-fact-section .testorange-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }



  .testorange-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .testorange-card-container .mdl-card__media img {
      width: 100%;
    }

  .testorange-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .testorange-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .testorange-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .testorange-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .testorange-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.testorange-footer {
  position: relative;
}

  .testorange-footer a:hover {
    color: orange;
  }

  .testorange-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .testorange-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .testorange-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .testorange-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .testorange-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.testorange-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .testorange-navigation-container {
    display: none;
  }

  .testorange-title {
    display: none !important;
  }

  .testorange-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(44% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .android.testorange-search-box.is-focused ~ .testorange-mobile-title,
  .testorange-search-box.is-focused + .testorange-navigation-container + .testorange-mobile-title {
    opacity: 0;
  }

  .testorange-more-button {
    display: none;
  }

  .testorange-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .testorange-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .testorange-hero-section {
    height: 350px;
  }

  .testorange-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .testorange-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .testorange-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .testorange-create-character img {
    height: 12px;
  }

  .testorange-button {
    display: none;
  }

  .testorange-main-target-box-text {
    margin-left: 0;
    padding: 16px;
  }

  .testorange-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

.social {
    color: dimgray;
    background-color: transparent !important;
}


.main-background {
  position: relative;
  height: 580px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/orange-cut.jpg') center 30% no-repeat;
  background-size: cover;
    

  left: 0;
  right: 0;
  z-index: 1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.table-section {
    padding: 5% 25%;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}

.orange-table {
    align-content: center;
}

.testorange-identify-section {
  padding: 40px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.testorange-identify-section .testorange-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('images/apple-fruit.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.box-size {
    width: inherit;
}

.img-box {
    margin: 20px 20px;
}
